body {
	font-family: helvetica, arial, sans-serif;
	padding: 40px;
	background: #acd;
	color: #483828;
}

header {
	padding: 30px;
    background: #FFA604;
    color: #9A5200;
}

h1 {
	font-size: 50px;
	
}

nav {
	padding: 10px;
	background: rgba(255,255,255,.3);
}

a {
	margin-right: 20px;
	color: #FF7304;
}



div {
	padding: 30px;
	background: url(../img/contemporary_china_2.png) -30px -30px;
}


footer {
	padding: 10px 30px;
	font-size: .5em;
	background: #483828;
	color: #eee;
}
